<!DOCTYPE html>
<html  dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside class="left-sidebar"th:fragment="publicoptionl_left">
			<!-- Sidebar scroll-->
			<div class="scroll-sidebar allleft-menu" style="height: 100%;">
				<!-- Sidebar navigation-->
				<nav class="sidebar-nav" style="height: 100%;">
					<ul id="sidebarnav">
						<div class="newaddProjiect">
							<button
									class="btn btn-block create-btn text-white no-block d-flex align-items-center"
									type="button" id="createEvent">
								<i class="fa fa-plus-square" style="height: auto"></i>
								<span class="hide-menu">创建事件分析</span>
							</button>
						</div>
						<!-- User Profile-->
						<!-- User Profile-->
						<li class="sidebar-item"><a th:classappend="${publicoptionleft_menu == 'public_optionlist' ? 'active' : ''}"
							class="sidebar-link waves-effect waves-dark"
							th:href="@{/publicoption}" aria-expanded="false"> <i
								class="mdi mdi-adjust"></i> <span class="hide-menu">任务列表</span>
						</a></li>
						<!-- <li class="sidebar-item">
							<a th:classappend="${publicoptionleft_menu == 'reportlist' ? 'active' : ''}"
								class="sidebar-link waves-effect waves-dark"
								href="javascript:void(0);" aria-expanded="false" >
									<i class="mdi mdi-adjust"></i> <span class="hide-menu" onclick="window.location.href='/publicoption/reportlist'">任务报告</span>
							</a>
						</li> -->
					</ul>
					<div class="left-foot-wechact">
						<div class="wechat-logo-box-card"  style="justify-content: center;">
							<div class="manual-logo-box" title="产品手册在线查看">
								<a target="_blank" th:href="@{/system/productmanual/online}">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-manual3"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</nav>
				<!-- End Sidebar navigation -->
			</div>
		</aside>
<script>
// function taskReport(){
// 	window.location.href="/publicoption/reportlist"
// }
</script>
</body>
</html>