<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="referrer" content="no-referrer" />

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}"/>

    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet" />
    <link th:href="@{/dist/css/custom.css}" rel="stylesheet" />
    <link th:href="@{/dist/css/site.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/libs/sweetalert2/dist/sweetalert2.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/main.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/mobile/mobile.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/mobile/monitor.css}" />
    <title>舆情监测</title>
    <style type="text/css">

    </style>
</head>
<body>
<div class="mointor">
    <div class="monitor-search">
        <div class="search">
            <input type="text" class="form-control">
            <i class="fa fa-search"></i>
        </div>
        <div class="dropdown schema_group">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                方案组
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu0">
                <li data-value="1" onclick="changegroup(1)"><a>方案组</a></li>
            </ul>
        </div>
    </div>
    <div class="projectList">
        <!--<div class="item active"><span>商户监测</span></div>
        <div class="item"><span>信息产业</span></div>
        <div class="item"><span>生物医药</span></div>
        <div class="item"><span>集成电路</span></div>
        <div class="item"><span>高校院所</span></div>-->
    </div>
    <div class="filter-box">
        <div class="filter">
<!--            <i class="fa fa-chart-bar"></i>-->
            <div class="dropdown dateSelect">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    时间
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li data-value="1" onclick="changedate(1)"><a>24小时</a></li>
                    <li data-value="2" onclick="changedate(2)"><a>今天</a></li>
                    <li data-value="3" onclick="changedate(3)"><a>昨天</a></li>
                    <li data-value="4" onclick="changedate(4)"><a>3天</a></li>
                    <li data-value="5" onclick="changedate(5)"><a>7天</a></li>
                    <li data-value="6" onclick="changedate(6)"><a>15天</a></li>
                    <li data-value="7" onclick="changedate(7)"><a>30天</a></li>
                </ul>
            </div>
            <div class="dropdown sourceSelect">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    来源
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li data-value="0" class="active" onclick="changesource(0)"><a>来源</a></li>
                    <li data-value="1" onclick="changesource(1)"><a>微信</a></li>
                    <li data-value="2" onclick="changesource(2)"><a>微博</a></li>
                    <li data-value="3" onclick="changesource(3)"><a>政务</a></li>
                    <li data-value="4" onclick="changesource(4)"><a>论坛</a></li>
                    <li data-value="5" onclick="changesource(5)"><a>新闻</a></li>
                    <li data-value="6" onclick="changesource(6)"><a>报刊</a></li>
                    <li data-value="7" onclick="changesource(7)"><a>客户端</a></li>
                    <li data-value="8" onclick="changesource(8)"><a>网站</a></li>
                    <li data-value="9" onclick="changesource(9)"><a>外媒</a></li>
                    <li data-value="10" onclick="changesource(10)"><a>视频</a></li>
                    <li data-value="11" onclick="changesource(11)"><a>博客</a></li>
                </ul>
            </div>
            <div class="dropdown emoSelect">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    属性
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li data-value="0" class="active" onclick="changeemo(0)"><a>属性</a></li>
                    <li data-value="1" onclick="changeemo(1)"><a>正面</a></li>
                    <li data-value="2" onclick="changeemo(2)"><a>中性</a></li>
                    <li data-value="3" onclick="changeemo(3)"><a>负面</a></li>
                </ul>
            </div>
        </div>
<!--        <div class="date">更新于：<span>2023-12-27 17:29:04</span></div>-->
    </div>
    <div class="dataList">
        <!--<div class="item">
            <div class="title-box">
                <div class="title-left">
                    <span class="industrylable">文化传媒</span>
                    <span class="eventlable">网事小说</span>
                    <span class="categorylable">音乐</span>
                    <span class="title">2023年度回忆</span>
                </div>
                <span class="emotion zm">正面</span>
            </div>
            <div class="content-con font-13">深海》#永 《深海》翻唱:旅途人生 K歌号:852026687 银杏苑小区 的气息##春天你好 #春天就要出去野#捕捉春天 信阳西关风情酒店 是那么简单 洛阳 #创作灵感#小孩子的快乐总 “1月11日”</div>
            <div class="like-comm m-t-10">
                <span>
                    <img class="content-logo" src="/assets/images/default_source.png" alt="" onerror="javascript:this.src='/assets/images/default_source.png'">
                    旅途人生
                </span>
                <span>1小时前</span>
                <span>来源:今日头条</span>
            </div>
        </div>-->
    </div>
    <div class="nav-bar">
        <div class="bar active">
            <i class="fa fa-list"></i>
            <div>舆情监测</div>
        </div>
        <!--<div class="bar">
            <i class="fa fa-search"></i>
            <div>内容检索</div>
        </div>
        <div class="bar">
            <i class="fa fa-th-large"></i>
            <div>数据总览</div>
        </div>-->
        <div class="bar" onclick="warning()">
            <i class="fa fa-bell"></i>
            <div>舆情预警</div>
        </div>
        <!--<div class="bar">
            <i class="fa fa-user"></i>
            <div>我的</div>
        </div>-->
    </div>
</div>
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src=" @{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src=" @{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- apps -->
<script th:src=" @{/dist/js/app.min.js}"></script>
<script th:src=" @{/dist/js/app.init.light-sidebar.js}"></script>
<script th:src=" @{/dist/js/app-style-switcher.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script th:src=" @{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src=" @{/assets/extra-libs/sparkline/sparkline.js}"></script>
<!--Menu sidebar -->
<script th:src=" @{/dist/js/sidebarmenu.js}"></script>
<script th:src="@{/assets/libs/block-ui/jquery.blockUI.js}"></script>
<script th:src="@{/common/iconfont.js}"></script>
<script th:src="@{/dist/baidu/baidu_statistics.js}"></script>
<script th:inline="javascript" type="text/javascript">
    var ctxPath = /*[[@{/}]]*/'';
    const params = new URLSearchParams(window.location.search);
    var groupId = params.get('groupId')||"";
    var projectId = params.get('projectId')||"";
    function warning() {
        window.location.replace("/mobile/warning?groupId="+groupId+"&projectId="+projectId)
    }
</script>
<script th:src="@{/dist/js/mobile/monitor.js}"></script>
</body>
</html>