<!doctype html><html lang=""><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" href="/opinion_screen/favicon.ico"><title>舆情监测大屏·网络情报分析系统</title><script defer="defer" src="/opinion_screen/js/chunk-vendors.537c0d54.js"></script><script defer="defer" src="/opinion_screen/js/app.45630691.js"></script><link href="/opinion_screen/css/chunk-vendors.dd82709b.css" rel="stylesheet"></head><body><noscript><strong>We're sorry but yqsjjc doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div></body><script>var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f17e264e40b4ac75672813c1a2ae7110";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();</script></html>